<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rezume</title>
    <meta charset="utf-8">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <main class="main-container">
        <div class="personal-information-row">
            <div class="photo-container">
                <img src="../static/img/u-nas.jpg" id="avatar">
            </div>
            <div class="about-container">
                <div class="hello-container">
                    Hello&#128075;I'm
                </div>
                <br>
                <div class="name-container">
                    Sam
                </div>
                <br>
                <div class="specialization">
                    Backend
                </div>
            </div>
            <div class="languages-container">
                Languages
                <ul class="languages">
                    <li>Russian</li>
                    <li>English</li>
                </ul>
            </div>
        </div>
        <div class="experience-tools-row">
            <div class="experience">
                Experience
                <div class="most-recent">
                    <div class="date-container">
                        Jun. 2023 - Present
                    </div>
                    <div class="company-row">
                        <div class="left-block">

                            <div class="job-title">
                                Marketing Manager
                            </div>
                            <div class="company-format-row">
                                Pankayam | Full-time
                            </div>
                        </div>
                        <div class="right-block">
                            <ul class="areas">
                                <li>blabla</li>
                                <li>blablabla</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="simple-experience-block">
                    <div class="date-container">
                        Jun. 2023 - Present
                    </div>
                    <div class="company-row">
                        <div class="left-block">

                            <div class="job-title">
                                Marketing Manager
                            </div>
                            <div class="company-format-row">
                                Pankayam | Full-time
                            </div>
                        </div>
                        <div class="right-block">
                            <ul class="areas">
                                <li>blabla</li>
                                <li>blablabla</li>
                                <li>efowpf</li>
                                <li>wfewengkjwui</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tools">
                Tools
            </div>
        </div>
        <div class="education-interests-contacts-row">
            <div class="education">
                Education
            </div>
            <div class="interests">
                Interests
            </div>
            <div class="contacts">
                Let's chat! I'm ready to work on exciting projects
                <div class="email-container">
                    bebe@bebe.com
                </div>
            </div>
        </div>
        <div class="btn">
            <button onclick="edit()" type="button">Edit</button>
            <button onclick="download()" type="button">Download (as PDF)</button>
        </div>
    </main>
</body>
</html>